[submodule "contracts/safe-smart-account-v1.4.1-3"]
	path = contracts/safe-smart-account-v1.4.1-3
	url = https://github.com/safe-fndn/safe-smart-account.git
[submodule "contracts/safe-smart-account-v1.5.0"]
	path = contracts/safe-smart-account-v1.5.0
	url = https://github.com/safe-fndn/safe-smart-account.git
